{
  "arrowParens": "avoid",
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "always",
  "jsxSingleQuote": false
}
