@import "../../scss/config";

.info__container {
  //padding: 3em;
}
.info__jumbo {
  background-image: url("https://static.ucraft.app/fs/ucraft/userFiles/preview-soulkitchen/images/r41-curaqtors-bg.jpg?v=1585668431");  background-size: cover;
  color: white;
}

.hours-wrap {
  display: flex;
  justify-content: flex-start;
  margin-left: 6em;
}

.info__subtitle {
  color: #ECF0F1;
}
.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
