@import "../../scss/config";

.online-menu {
  background-color: #F5F5F5;
  padding: 0 3em;
}

%fontStyling {
  font-family: $accent-font-family;
}

h5 {
  @extend %fontStyling;
  letter-spacing: 0;
  font-weight: 500;
}

#price {
  color: $rust;
}

p {
  @extend %fontStyling;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: $darker-gray;
}

h1 {
  font-family: $review-text-font;
  letter-spacing: -1.5px;
  font-weight: lighter;
}

#secondTitle {
  @extend %fontStyling;
  letter-spacing: -0.5px;
  font-weight: lighter;
  //color: $darker-gray;
  color: $rust;
}

.online__btn {
  margin-right: 10px;
  text-transform: uppercase;
  border-color: $tan;
  font-family: $accent-font-family;
  font-size: 14px;
  letter-spacing: 1.25px;

  &:hover {
    background-color: $tan;
    color: $medblue;
  }
}

.cart-icon {
  font-size: 2rem;
  cursor: pointer;
  color: $forest;

  &:hover {
    fill: $rust;
  }
}

ul {
  list-style-type: none;
  margin-left: 37%;
  padding: 0
}

.rating {
  margin-left: 37%
}

.card {
  width: 95%;
  padding: 0px;
  margin-left: 2%
}


.price {
  color: #ff4517;
  font-weight: 600
}
