@import "../../scss/config";

.contact__container {
  //height: 100vh;
}
.formik__btn {
  margin-right: 10px;
  text-transform: uppercase;
  border-color: $tan;
  font-family: $accent-font-family;
  font-size: 14px;
  letter-spacing: 1.25px;

  &:hover {
    background-color: $tan;
    color: $medblue;
  }
}
.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.info__form {
  width: 100%;
  padding: 0 5em;
}

.contact__row {
  position: relative;
  left: 20%;
}
