@import "config";

.brew__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: auto;
  }

  .brew__header{
    // width: 100%;
    // height: 5rem;
    // font-size: 2em;
    // font-family: $default-font-family;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    // border-bottom: 1px solid $tan;
  }
  
  .brew-item__header{
    text-align: left;
    font-family: $default-font-family;
    font-size: 9px;
    color: $darker-gray;
  }
  
  .sub__header--brew{
    width: 100%;
    height: 3rem;
    font-size: 15px;
    font-family: $default-font-family;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $tan;
  }
  
  .brew-item{
    display: flex;
    justify-content: space-between;
  }