@import "config";

.dessert__header{
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    font-family: $default-font-family;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $tan;
}

.dessert-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessert-item__header{
    text-align: left;
    font-family: $default-font-family;
    font-size: 15px;
    font-weight: thin;
    color: $darker-gray;
}

.dessert-item__details{
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.dessert-item__details--description{
    font-family: $menu-font-family;
    font-size: 1rem;
    color: $darker-blue;
    font-size: 12px;
}

.dessert-item__details--price{
    font-family: $menu-font-family;
    color: $darker-blue;
    font-size: 11px;
}