@import 'config';

.carousel__image {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5)) center;
  background-size: cover;
  position: relative;
}

.carousel__caption {
  color: #ffffff;
  transform: translateY(-100%);

  h3 {
    @include review-header();
  }

  p {
    @include review-text();
  }
}

.home-info__btn {
  margin-right: 10px;
  text-transform: uppercase;
  border-color: $tan;
  font-family: $accent-font-family;
  font-size: 14px;
  letter-spacing: 1.25px;

  &:hover {
    background-color: $tan;
    color: $medblue;
  }
}

.home-sliderz__container {
  //box-sizing: border-box;
  //max-width: 100%;
  height: 20rem;
  position: relative;
}

.sliderz {
  height: 20rem;
  width: 100%;
  padding: 0 1em;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.carousel__item-container {
  max-width: 100vw;
  padding: 0;
}

.carousel__img-container {
  position: relative;
}

.carousel__img-container:hover .sliderz {
  opacity: 0.3;
}
.carousel__img-container:hover .carousel__img-btn {
  opacity: 1;
}

.carousel__img-btn {
  width: 8rem;
  height: 4.6rem;
  transition: 0.5s ease;
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);;
}
