@import "config";

.carousel__image {
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5)) center;
  background-size: cover;
}

.carousel__caption {
  color: #FFFFFF;
  transform: translateY(-100%);


  h3 {
    @include review-header()
  }

  p {
    @include review-text()
  }
}

.home-info__btn {
  margin-right: 10px;
  text-transform: uppercase;
  border-color: $tan;
  font-family: $accent-font-family;
  font-size: 14px;
  letter-spacing: 1.25px;


  &:hover {
    background-color: $tan;
    color: $medblue;

  }
}
