@import 'config';

.info__main-container {
}

.info__top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px dotted black;
}

.info__map-container {
}

.specials__container {
  position: absolute;

  border: 2px solid black;
}

.map__main-container {
  height: 100vh;
  margin-bottom: 10em;
  position: relative;
}

.sidebar {
  width: 33.3333%;
}

.map {
  height: 100%;
  width: 100%;
  border-left: 1px solid #fff;
  position: relative;
  margin: 0;
  padding: 0;
}

.map__container {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 33%;
  width: 66%;
  top: 0;
  bottom: 0;
  right: 0;
}

.pad2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.map__sidebar {
}
