@import 'config';

* {
}

.info__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;

  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }

  .mapContainer {
    position: absolute;
    margin: 5rem 0 2rem 2rem;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .info__divider {
    position: relative;
  }

  .info__hours-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
  }

  .info__hours-list {
    display: flex;
    list-style-type: none;
  }

  li {
    margin: 0.25em;
  }
  .info__hours-clock {
    margin-right: 0.25em;
  }
}
