@import "config";

.kitchen__header{
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    font-family: $default-font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $tan;
}

.mainColumn{
display: flex;
flex-direction: row;
position: relative;
margin-bottom: 10em;
}

.columnOne{
    width: 45%;
    height: 100%;
    border: 1px solid $tan;
    display: flex;
    flex-direction: column;
    margin: 0 3em;
}

.columnTwo{
    width: 45%;
    height: 100%;
    border: 1px solid $tan;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin: 0 3em;
}

.kitchen-item{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

.kitchen-item__header{
    text-align: center;
    font-family: $default-font-family;
    font-size: 15px;
    font-weight: thin;
    color: $darker-gray;
}

.kitchen-item__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kitchen-item__details--description{
    width: 35em;
    font-family: $menu-font-family;
    font-size: 1rem;
    color: $darker-blue;
    font-size: 12px;
}

.kitchen-item__details--price{
    font-family: $menu-font-family;
    color: $darker-blue;
    font-size: 9px;
}

